input[type=checkbox] {
    display: inline;
}

input[type=button] {
    max-width: 150px;
    display: inline-block;
}

.inline {
    display: inline;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.25rem;
}

li {
    list-style: none;
}

